.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  column-gap: 20px;
  grid-template-areas:
    "header"
    "main"
    "series"
    "animes"
    "footer";
}

.header {
  grid-area: header;
}

.main {
  grid-area: main;
}

.series {
  grid-area: series;
}

.animes {
  grid-area: animes;
}

.footer {
  grid-area: footer;
}