:root {
  --netflix-red:#E50914;
  --netflix-white:white;

}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  min-height: 50px;
  background: rgb(2, 0, 36);
  background: linear-gradient(180deg, rgba(2, 0, 36, 0.5844712885154062) 0%, rgba(0, 212, 255, 0) 100%, rgba(0, 0, 0, 1) 100%);
}

.user {}

.user__list {
  display: flex;
  align-items: center;
}

.user__item {
  display: inline-block;
  text-decoration: none;
}

.user__item.user__item--netflix a {
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  color: var(--netflix-red);
  margin: 0 35px;
}

.user__item a {
  text-decoration: none;
  color: var(--netflix-white);
  font-size: 12px;
  font-weight: 900;
  cursor: pointer;
  margin: 0 10px;
}

.user__item a:nth-child(2) {
  margin-left: 0;
}

.options {}

.options__list {}

.options__item {}