.carousel {
  position: relative;
  height: auto;
  padding: .5em 0 .5em 2em;
}

.carousel__title {
  color: white;
  margin: .5em .5em .5em 0;
}

.carousel__list {
	position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.carousel__list-item {
  display: block;
  list-style: none;
}

.carousel__img {
	margin: 0 2px;
	max-width: 300px;
}

.prev,
.next {
	width: 2%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 32px;
	color: #fff;
	background-color: rgb(51 51 51 / 0.15);
	height: 44px;
	outline: none;
	border: none;
	height: 100%;
	top: 0;
	cursor: pointer;
}
.prev:hover,.next:hover {
	transition: ease-in-out .3s;
	background-color: rgb(37 37 37 / 0.70);
}

.prev {
  left: 0;
}

.next {
  right: 0;
}