:root {
  --netflix-red: #E50914;
  --netflix-white: white;
  --netlifx-white-dark: rgba(255, 255, 255, 0.6);
  --netflix-background: rgb(2, 0, 36);
  --user-navigate: rgba(0, 0, 0, 0.9);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  background: var(--netflix-background);
  background: linear-gradient(180deg, rgba(2, 0, 36, 0.5844712885154062) 0%, rgba(0, 212, 255, 0) 100%, rgba(0, 0, 0, 1) 100%);
  z-index: 2;
}

.user {
  display: flex;
  align-items: center;
  margin-left: 2em;
}

.user__list {
  display: flex;
  align-items: center;
}

.user__navigate-item {
  display: none;
}

.user__navigate {
  display: none;
}

.user__navigate::after {
  display: none;
}

.user__item.user__item--netflix a {
  display: block;
  font-family: 'Bebas Neue', cursive;
  color: var(--netflix-red);
  margin-right: 30px;
}

.user__item a {
  display: none;
}

.user__item a:nth-child(2) {
  display: none;
}

.user__navigate {
  display: flex;
  position: absolute;
  height: auto;
  width: 100%;
  max-width: 350px;
  top: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-top: 2px solid var(--netflix-white);
  background-color: var(--user-navigate);
  display: none

}

.user__navigate--show {
  display: block;
  transition: 0.3s;
  animation: ease-in-out 1s;
}

.user__navigate::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  right: 50%;
  top: 0px;
  top: -10px;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: var(--netflix-white) transparent transparent transparent;
  margin-left: 5px;
  transform: rotate(180deg);
}

.user__navigate-item {
  display: block;
  padding: 1.2em 0 1.3em 0;
  font-size: 20px;
}

.user__navigate-item a {
  text-decoration: none;
  color: var(--netflix-white);
}

.user__navigate-item a:hover {
  text-decoration: none;
  color: var(--netflix-white);
}

.user__navigate-click {
  display: block;
  position: relative;
  text-decoration: none;
  margin: 0 10px;
  font-weight: 900;
  color: var(--netflix-white);
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

.user__navigate-click::after {
  display: block;
  position: absolute;
  content: '';
  margin-left: 5px;
  width: 0;
  height: 0;
  right: -15px;
  bottom: 10px;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: var(--netflix-white) transparent transparent transparent;
}

.avatar {
  margin-right: 2em;
}

.avatar__img {
  max-width: 45px;
  max-height: 45px;
}

@media screen and (min-width: 768px) {

  .header {
    max-height: 70px;
  }

  .user__item {
    display: inline-block;
    text-decoration: none;
  }

  .user__navigate-item {
    display: inline-block;
    text-decoration: none;
  }

  .user__item.user__item--netflix a {
    font-size: 45px;
    display: block;
  }

  .user__item a {
    display: none;
    margin: 0 10px;
    color: var(--netlifx-white-dark);
    font-size: 12px;
    text-decoration: none;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
  }

  .user__item a:hover {
    color: var(--netflix-white);
    animation: ease-in-out 1s;
  }

  .user__navigate-item {
    display: block;
    font-size: 24px;
  }

  .user-navigate {
    display: block;
  }

  .avatar__img {
    max-width: 45px;
    max-height: 45px;
  }
}

@media screen and (min-width: 992px) {
  .user__navigate-click {
    display: none;
  }

  .user__navigate-click::after {
    display: none;
  }

  .user__navigate--show {
    display: none
  }

  .header {
    max-height: 60px;
  }

  .user__item a {
    display: block;
  }
}

@media screen and (min-width: 1200px) {

  .user__item.user__item--netflix a {
    font-size: 25px;
  }

  .avatar__img {
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
  }
}