.main {
  position: relative;
  width: 100vw;
  background-image: url(../../images/space-force.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  z-index: 1;
}

.main {
  min-height: 50vh;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .main {
    min-height: 50vw;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    min-height: 90vh;
  }
}